{
    "extends": ["webpack"],
    "rules": {
        "linebreak-style": ["error", "windows"],
        "no-console": [
            "warn",
            { "allow": ["clear", "info", "error", "dir", "trace", "log"] }
        ],
        "semi": "off",
        "no-undef": "off",
        "class-methods-use-this": "off",
        "arrow-parens": "off",
        "no-param-reassign": "off",
        "func-names": "off",
        "no-plusplus": "off",
        "import/prefer-default-export": "off",
        "no-eval": "off",
        "no-debugger":"off",
    },
    "parserOptions": {
        "ecmaVersion": 2022
    }
}
