.dashboard .dashboard__header {
  @apply fixed   
    flex justify-center items-center
    left-0 right-0 top-0
    h-db-header bg-white
    shadow-md shadow-db-header
    z-10;
}

.dashboard .dashboard__new {
  @apply mt-16 p-6 bg-gray-300;
}

.dashboard .dashboard__table {
  @apply p-4;
}

.dashboard .dashboard__create {
  @apply flex justify-center items-center
    w-40 h-40 bg-white
    text-2xl no-underline text-center
    border border-gray-300 rounded
    hover:cursor-pointer hover:text-green-600 hover:border-green-600;
}

.dashboard .dashboard__view {
  @apply m-auto max-w-5xl;
}

.dashboard .dashboard__list-header {
  @apply flex justify-between
    font-medium text-base text-zinc-800
    mb-2.5 px-3;
}

.dashboard .dashboard__list {
  @apply clear-list;
}

.dashboard .dashboard__record {
  @apply flex justify-between items-center
    py-4 px-3 mb-2.5
    hover:bg-green-100 hover:rounded-3xl;
}

.dashboard .dashboard__record a {
  @apply text-zinc-800 text-sm
    hover:underline;
}
